.mealList {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.meals-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 40px;
}

.display-button {
    height: 3rem;
    padding: 8px 12px;
    width: 60%;
    border-radius: 25px;
    letter-spacing: 0.1em;
    font-size: 18px;
}