body {
    background-color: rgb(253, 237, 217);
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

/* Style meal item container*/ 
.meal {
    align-items: center;
    margin-bottom: 1rem;
    margin: 0 1rem;
    border-bottom: 1px solid #ccc;
}

/* Style meal-title */
.meal h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

/* Style meal-description */
.meal p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
}

/* Style meal-price */
.meal-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}