/* Style meal item container */
.meal {
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
}

/* Style meal-title */
.meal h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    letter-spacing: 2px;
}

/* Style meal-description */
.meal p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 0.5rem;
    letter-spacing: 0.06em;
    font-size: 17px;
}

/* Style meal-price */
.meal-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}


/* Style meal-image */
.meal-image {
    width: 100%;
    height: 300px;
}

/* Style meal-image img */
.meal-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintain aspect ratio and fill container */
}